
<div class="form">
    <h1>Movie Form</h1>
    <label for="name"> </label>
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" id="name" >
      </mat-form-field>
      <label for="rate"> </label>
      <mat-form-field>
        <mat-label>Rating:</mat-label>
        <input matInput type="text" id="rate" >
      </mat-form-field>
      <label for="summary"> </label>
      <mat-form-field>
        <mat-label>Summary:</mat-label>
        <input matInput type="text" id="summary" >
      </mat-form-field>
      <label for="image" > </label>
      <mat-form-field>
        <mat-label>imageUrl:</mat-label>
        <input matInput type="text" id="image" >
      </mat-form-field>
    <button mat-raised-button color="primary"> + Abb Movie</button>
</div>