.name-rating{
    display: flex;
    justify-content: space-between;
}

img{
    height: 15rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.main{
    background-color: beige;
    max-width: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    /* height: 30rem; */
}

.padding{
    padding: .5rem;
}

.buttons{
    display: flex;

}